!!!5
%html
	%head 
		%title PayToPay
		= csrf_meta_tags
		= csp_meta_tag 
		=stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track': 'reload'
		=javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		%div{style:"#{"display:none" if alert.nil? && notice.nil?}"}
			%p.alert= alert
			%p.notice= notice
		hola mundo
		= yield